<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="./../js/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="./../js/plugins/bootstrap-star-rating-v4.0.1/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />

    <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
    <link href="./../js/plugins/bootstrap-star-rating-v4.0.1/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <script src="../js/common/jquery-3.2.1.min.js"></script>
    <script src="./../js/plugins/bootstrap-star-rating-v4.0.1/js/star-rating.js" type="text/javascript"></script>

    <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
    <script src="./../js/plugins/bootstrap-star-rating-v4.0.1/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="./../js/plugins/bootstrap-star-rating-v4.0.1/js/locales/zh.js"></script>
</head>
<body>
    <input id="score-star" value="3" name="score-star" class="rating" data-min="0" data-max="5" data-step="0.1">
</body>
</html>